{% extends 'flatpages/default.html' %}
{% load i18n %}


{% block content %}
<style>
  body {
    font-family: 'arial black';
    color: #FFFFFF;
    background-color: #000000;
  }
</style>

<h1>{% trans 'Поиск публикации' %}: </h1>
<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="{% trans 'Найти' %}" />
</form>

<hr>
<h3>{% trans 'Ранние публикации' %}:</h3>
{% if posts %}
    {% for post in posts %}
    <li>
      <a href="{% url 'post_detail' post.pk %}">{{ post.get_localized_title }}</a>
    </li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% trans 'Ничего не найдено' %}.</p>
{% endif %}

{% endblock content %}